<footer class="page-footer teal lighten-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="teal-text text-darken-4"> {{ site.title }}</h5>
                <ul class="teal-text text-darken-4" >
                    <li><img src="img/home.png"> <span class="center-align contact-text"> Comayagua, Comayagua Honduras, CA</span> </li>
                    <li><img src="/img/email-outline.png"> <span class="center-align contact-text"> lienzobrevepoetas@gmail.com</span> </li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="teal-text text-darken-4">Visitanos</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://www.facebook.com/Movimiento-Literario-Lienzo-Breve-466091360154356/?ref=page_internal"><img src="img/fb-icon.png"> </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright teal lighten-1">
        <div class="container">
            © 2016 Saul Mayorquin, All rights reserved.

        </div>
    </div>
</footer>