<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"> {{ site.title }}</h5>
                <ul class="grey-text text-lighten-4" >
                    <li><img src="img/home.png"> <span class="center-align contact-text"> Colonia Brisas de Altamira, 2 ½ cuadras al noreste del mercadito Los Almendros.</span> </li>
                    <li><img src="/img/deskphone.png"> <span class="center-align contact-text"> (+504)9630-5457 / (+504)9888-9620</span> </li>
                    <li><img src="/img/email-outline.png"> <span class="center-align contact-text"> lienzobrevepoetas@gmail.com</span> </li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Visitanos</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://www.facebook.com/Movimiento-Literario-Lienzo-Breve-466091360154356/?ref=page_internal"><img src="img/fb-icon.png"> </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright black">
        <div class="container">
            © 2016 Saul Mayorquin, All rights reserved.

        </div>
    </div>
</footer>