<div class="row">

     <div class="navbar-fixed topnav">
         
          <nav class=" purple darken-3 red-text text-accent-1">


        <div class="nav-wrapper purple darken-3 red-text text-accent-1">
          
            <a href="/" class="brand-logo left hide-on-med-and-down left-logo pink-text text-lighten-2">Lienzo Breve</a>
    
            <a href="/" class="brand-logo center hide-on-large-only purple-text">Lienzo Breve</a>

            <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>
            
           
            
                <ul class="right hide-on-med-and-down">
                    
                    <li><a href="manifiesto.html">Manifiesto</a></li>
                    <li><a href="miembros.html">Miembros</a></li>
                    <li><a href="gestioncultural.html">Gestion Cultural</a></li>

                    <li><a href="gestioncultural.html">Proyectos</a></li>
                    <li><a href="gestioncultural.html">Obras Literarias</a></li>
                    <li><a href="gestioncultural.html">Poemas</a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="manifiesto.html">Manifiesto</a></li>
                    <li><a href="miembros.html">Miembros</a></li>
                    <li><a href="gestioncultural.html">Gestion Cultural</a></li>

                    <li><a href="gestioncultural.html">Proyectos</a></li>
                    <li><a href="gestioncultural.html">Obras Literarias</a></li>
                    <li><a href="gestioncultural.html">Poemas</a></li>


                </ul>
            


        </div>
    </nav>
         </div> 

   
</div>